/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: white;
  text-decoration: none;
}

button {
  padding: 2rem 6rem;
  background: #4c6e97;
  border: none;
  color: white;
  font-size: 1.8rem;
  border-radius: 4rem;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
  animation: buttonAnimation 2s infinite alternate;
}

button:hover {
  background-color: #b04a13;
  font-size: 2.6rem;
}
/* Nav Section with HERO */

.main-head {
  background: #131c27;
}

nav {
  display: flex;
  width: 90%;
  min-height: 10vh;
  padding: 2rem;
  margin: auto;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#logo {
  color: white;
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
}

.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("/img/pexels-quintin-gellar-313782.jpg");
  background-repeat: no-repeat;
  background-size: 300px 500px;
  background-position: center;
  background-size: contain;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 5rem;
}

/* LOCATIONS SECTION */

#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("/img/pexels-flo-dahm-699466.jpg");
  background-repeat: no-repeat;
  background-size: 300px 500px;
  background-position: center;
  background-size: contain;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.locations-head {
  width: 90%;
  margin: auto;
}

.locations-head h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
}

.locations-head h3 {
  padding: 4rem 0rem;
}

/* BENEFITS SECTION */
.benefits-head {
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}

.benefits-head h3 {
  padding: 1rem;
}

.card {
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px black;
}

.card img {
  height: 100px;
}
/* @Keyframe Animation */

@keyframes buttonAnimation {
  0% {
    background: red;
  }
  25% {
    background: rgb(35, 98, 119);
  }
  100% {
    background: rgb(99, 35, 119);
  }
}

/* MOBILE RESPONSE // MEDIA QUARY  */
@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 1rem;
  }
}
